article h1 {
  color: rgb(133, 138, 216);
  font-size: 45px;
}
* {
  background-color: rgb(78, 68, 68);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif,
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 13px;
  color: white;
}
article h2 {
  font-size: 30px;
  color: rgb(124, 124, 198);
}
